\documentclass{article}

\usepackage{xparse}
\usepackage{tikz}
\usepackage{ifthen}
\usetikzlibrary{calc,positioning}
\usetikzlibrary{automata,arrows} 
\usetikzlibrary{fit,chains}
\input{box_sty}
\input{record_sty}


\usepackage{verbatim}
\usepackage[paperwidth=1500pt,paperheight=250pt]{geometry}


\begin{document}

\begin{tikzpicture}[node distance=2.5cm,auto,>=latex']
