\documentclass{article}

\usepackage{xparse}
\usepackage{tikz}
\usepackage{ifthen}
\usetikzlibrary{calc,positioning}
\usetikzlibrary{automata,arrows} 
\usetikzlibrary{fit,chains}
\input{box_sty}
\input{record_sty}


\usepackage{verbatim}
\usepackage[paperwidth=800pt,paperheight=1250pt]{geometry}


\begin{document}

\begin{tikzpicture}[auto,>=latex']
